* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    color: transparent;
    margin: 0%;
    text-align: center;
    position:relative;
    width: 100%;
    line-height: 1em;
    height: auto;
    padding: 0;
}

h2 {
    color: goldenrod;
    font: Roca, serif;
    size: 12pt;
}

p {
    color: white;
    font-family: Roca, serif;
    font-size: 16px;
    text-align: left;
    margin: 0%;
    width: 50%;
    padding-left: 5%;
    min-width: 290px;
    height: auto;
    text-shadow: 1px 0px 3px black;
}

.hero-img {
    width: 100%;
    aspect-ratio: 1.777777;
    height: auto;
    background-size: contain;
    position: relative;
    display: flex;
    image-u;
    overflow: visible;
}


#hero-title {
    background-image: url("../img/hero1.jpg");
    padding-top: 10%;
}

#hero-text {
    background-image: url("../img/hero2.jpg");
}

#hero-btn {
    background-image: url("../img/hero3.jpg");
}