h1  
{
    color: goldenrod;
    font: Rubik, sans-serif;
    size: 24pt;
}

h2{
    color: goldenrod;
    font: Roca, serif;
    size: 12pt;
}

p{
    color: white;
    font: Roca, serif;
    size: 8pt;
    text-justify: left;
    box-sizing: 620px;
}